<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_first_demo"
        tools:targetApi="31">
        <activity
            android:name=".ui.mangaDetail.MangaDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.userDetail.UserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.postDetail.PostDetailActivity"
            android:banner="@drawable/app_icon_your_company"
            android:exported="false"
            android:icon="@drawable/app_icon_your_company"
            android:label="@string/title_activity_post_detail"
            android:logo="@drawable/app_icon_your_company"
            android:theme="@style/Theme.Android_first_demo" />
        <activity
            android:name=".ui.HomeActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>